@model TimeReportViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form method="post">
    <div class="form-group">
        <label>Hours Spent:</label>
        <input class="form-control" asp-for="HoursSpent"/> 
    </div>

    <div>
        <label>Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Edit TimeReport</button>

    <input type="hidden" asp-for="Id"/> 
    <input type="hidden" asp-for="ProjectId" />
    <input type="hidden" asp-for="TaskId" />
    <input type="hidden" asp-for="CreationDate" />
    <input type="hidden" asp-for="Price" />
    <input type="hidden" asp-for="Submitted" />
</form>