@model TimeReportViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form method="post">
    <div class="form-group">
        <label>Hours Spent:</label>
        <input class="form-control" asp-for="HoursSpent"/> 
    </div>

    <div>
        <label>Description</label>
        <textarea class="form-control" asp-for="Description"/>
    </div>
</form>