@model ProjectViewModel
@{
    ViewData["Title"] = "Create New Project";
}
</br>

<form method="post">
    <div class="form-group">
        <label>Project Name:</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Budget:</label>
        <input asp-for="Budget" class="form-control">
    </div>

    <div class="form-group">
        <label>End date:</label>
        <br />
        <div>
            <div class="input-group date" data-provide="datepicker">
                <input type="text" id="datepicker" class="form-control" />
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label>Price per hour:</label>
        <input asp-for="PricePerHour" class="form-control">
    </div>

    <div class="form-group">
        <label>Estimated Time:</label>
        <input asp-for="EstimatedTime" class="form-control">
    </div>

    <div class="form-group">
        <label>Client name:</label>
        <input asp-for="ClientName" class="form-control">
    </div>
    <div class="form-group">
        <label >Example textarea</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    </div>
   
    <button type="submit" class="btn btn-primary">Create Project</button>
</form>
<script>
    $(document).ready(function () {

        $('#datepicker').datetimepicker({
            format: 'YYYY.MM.DD'
        });
    });
</script>